@import "tailwindcss";

:root {
    --m-green: #104f55;
    --green: #7dd889;
    --light-green: #ebf8ed;
    --light-gray: #f8f8f8;
    --grey: #eee;
    --grey-m5: #999;
    --white: #fff;
    --blue-bell: #a892d8;
    --orange: #f06543;
}

html.lenis, html.lenis body {
  height: auto;
}

html.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

body {
  font-family: 'Outfit', sans-serif;
}